div.nmpView {
    margin-top:5rem;
left: 0px; 
right: 0px;
top: 0px; 
bottom: 0px; 
position: relative;
z-index: 5;
text-align: center;
    width: 100%;
    height: 100%;
}


.nmpView button {
    width: 45%;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
}



.nmpView [type=button]:active {
  border-color: #008aaa;
  background: #008aaa;
  color: #333;
  background-color: #008aaa;
}

.nmpView [checked=checked] {
  background-color: #008aaa;
  background: #008aaa;
}

.nmpView  ul {
    display:inline-block;
    text-align: center;
    width: 100%;
    vertical-align: top;
    font-size: 24px;
}

.nmpView  li {
    display:inline-block;
    text-align: center;
    width: 100%;
    vertical-align: top;
    font-size: 24px;
    margin: 0.4em;

}

.nmpView  a {
	font-size: 24px;
  background: #fafafa url(../image/button/ui/default.png) repeat-x left bottom;
    margin: 0.4em;
padding: 0.2em;
  border: 0.1rem solid #9f9f9f;
  border-radius: 0.3rem;
}

.nmpView input {
    font-size: 24px;
}


.nmpView [id=nmpViewStatus] {
      text-align:right;	
      font-size: 20px;
	direction:rtl;
  	float: right;
}

.nmpView [id=swipeBox] {
    background-color: #8cff80;
    border: 1px solid #3dcf2d;
    border-radius: 4px ;
    min-height: 100px;
    min-width: 100px;
    margin-top:1rem;
top: 0px; 
bottom: 0px; 
left: 0px; 
right: 0px;
position: relative;
overflow:hidden;
text-align: center;
}
