.nmpView {
  margin-top: 20px;
}

.nmpView button {
    width: 45%;
    margin-right: 10px;
    margin-left: 10px;
}



.nmpView [type=button]:active {
  border-color: #008aaa;
  background: #008aaa;
  color: #333;
  background-color: #008aaa;
}

.nmpView [checked=checked] {
  background-color: #008aaa;
}

.nmpView  ul {
    display:inline-block;
    text-align: center;
    width: 100%;
    vertical-align: top;
    font-size: 24px;
}

.nmpView  a {
	font-size: 24px;
}

.nmpView input {
    font-size: 24px;
}


.nmpView [id=nmpViewStatus] {
      text-align:right;	
      font-size: 20px;
	direction:rtl;
  	float: right;
}


